<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
	<style >
		nav {
			    float: left;
			    max-width: 160px;
			    margin: 0;
			    padding: 1em;
		}
		nav ul a {
		    text-decoration: none;
		}
		article {
		    margin-left: 170px;
		    border-left: 1px solid gray;
		    padding: 1em;
		    overflow: hidden;
		    }
	</style>
<meta charset="ISO-8859-1">
<title>CouponSite</title>
</head>

<div id="Admin">
	<header>
   		<h1>Welcome Admin</h1>
	</header>
</div>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav>
  		<ul>
		    <li><a ng-click="myFuncCreateCompany()" href="#">Create Company</a></li>
		    <li><a ng-click="myFuncUpdateCompany()" href="#">Update Company</a></li>
		    <li><a ng-click="myFuncDeleteCompany()" href="#">Delete Company</a></li>
		    <li><a ng-click="myFuncFindCompany()" href="#">Find Company</a></li>
		    <li><a ng-click="myFuncGetAllCompany()" href="#">Get All Companies</a></li>
		    <br/>
			<br/>
			<li><a ng-click="myFuncCreateCustomer()" href="#">Create Customer</a></li>
		    <li><a ng-click="myFuncUpdateCustomer()" href="#">Update Customer</a></li>
		    <li><a ng-click="myFuncDeleteCustomer()" href="#">Delete Customer</a></li>
		    <li><a ng-click="myFuncFindCustomer()" href="#">Find Customer</a></li>
		    <li><a ng-click="myFuncGetAllCustomer()" href="#">Get All Customers</a></li>
  		</ul>
	</nav>

<article ng-show="showMeCreateCompany">
		<h1>Create Company</h1>
			<form action="createcompany" method "post">
				<div name= "createcompany">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" placeholder="Company Name"  name="companyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>					
					<br/>
					<input value="Submit" type="Submit" onsubmit="return createCompany(this.form)"/>
				</div>
			</form>		
</article>

<article ng-show="showMeUpdateCompany">
		<h1>Update Company</h1>
			<form action="updatecompany" method "post">
				<div name= "updatecompany">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" placeholder="Company Name"  name="companyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>					
					<br/>
					<input value="Submit" type="Submit"/>
				</div> 
			</form>		
</article>

<article ng-show="showMeDeleteCompany">
		<h1>Delete Company</h1>
			<form action="deletecompany" method "post">
				<div name= "deletecompany">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" placeholder="Company Name"  name="companyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>					
					<br/>
					<input value="Submit" type="Submit")"/>
				</div>
			</form>		
</article>

<article ng-show="showMeFindCompany">
		<h1>Find Company by ID</h1>
			<form action="findcompany" method "post">
				<div name= "findcompany">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" placeholder="Company Name"  name="companyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>					
					<br/>
					<input value="Submit" type="Submit")"/>
				</div>
			</form>		
</article>

<article ng-show="showMeCreateCustomer"> 
		<h1>Create Customer</h1>
			<form action="createcustomer" method "post">
				<div name="createcustomer">
					<div> 
					Customer ID: <input type="text" placeholder="Customer ID"  name="customerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" placeholder="Customer Name"  name="customername"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>
					<br/>
					<input value="Submit" type="Submit" />
					</div>			
				</div>	
</article>

<article ng-show="showMeUpdateCustomer"> 
		<h1>Update Customer</h1>
			<form action="updatecustomer" method "post">
				<div name="updatecustomer">
					<div> 
					Customer ID: <input type="text" placeholder="Customer ID"  name="customerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" placeholder="Customer Name"  name="customername"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>
					<br/>
					<input value="Submit" type="Submit" />
					</div>			
				</div>	
</article>

<article ng-show="showMeDeleteCustomer"> 
		<h1>Delete Customer</h1>
			<form action="deletecustomer" method "post">
				<div name="deletecustomer">
					<div> 
					Customer ID: <input type="text" placeholder="Customer ID"  name="customerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" placeholder="Customer Name"  name="customername"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>
					<br/>
					<input value="Submit" type="Submit" />
					</div>			
				</div>	
</article>

<article ng-show="showMeFindCustomer"> 
		<h1>Find Customer by ID</h1>
			<form action="findcustomer" method "post">
				<div name="findcustomer">
					<div> 
					Customer ID: <input type="text" placeholder="Customer ID"  name="customerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" placeholder="Customer Name"  name="customername"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password"/> 
					<br/>
					<br/>
					Email: <input type="text" placeholder="Email"  name="email"/>
					<br/>
					<br/>
					<input value="Submit" type="Submit" />
					</div>			
				</div>	
</article>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.showMeCreateCompany = false;
    $scope.myFuncCreateCompany = function() {
        $scope.showMeCreateCompany = !$scope.showMeCreateCompany;
        $scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }
	$scope.showMeUpdateCompany = false;
    $scope.myFuncUpdateCompany = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = !$scope.showMeUpdateCompany;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }
	$scope.showMeDeleteCompany = false;
	$scope.myFuncDeleteCompany = function() {
        $scope.showMeCreateCompany = false;
        $scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = !$scope.showMeDeleteCompany;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }
	$scope.showMeFindCompany = false;
	$scope.myFuncFindCompany = function() {
        $scope.showMeCreateCompany = false;
        $scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = !$scope.showMeFindCompany;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }	
	$scope.showMeGetAllCompany = false;
	$scope.myFuncGetAllCompany = function() {
        $scope.showMeCreateCompany = false;
        $scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }		
	
    $scope.showMeCreateCustomer = false;
    $scope.myFuncCreateCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = !$scope.showMeCreateCustomer;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }	
	$scope.showMeUpdateCustomer = false;
    $scope.myFuncUpdateCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = !$scope.showMeUpdateCustomer;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }
	$scope.showMeDeleteCustomer = false;
    $scope.myFuncDeleteCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = !$scope.showMeDeleteCustomer;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }
	$scope.showMeFindCustomer = false;
    $scope.myFuncFindCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = !$scope.showMeFindCustomer;
		$scope.showMeGetAllCustomer = false;
    }
	$scope.showMeGetAllCustomer = false;
    $scope.myFuncGetAllCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeDeleteCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeDeleteCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
    }
});

function createCompany(form) {	
	//http://localhost:8080/jerseyservice/rest/admin/login/Admin/1234/ADMIN
	//var request = $.ajax({
        //url: "http://localhost:8080/jerseyservice/rest/admin/hello",
        //url: "http://localhost:8080/jerseyservice/rest/admin/login/Admin/1234/ADMIN",
        ///createcompany/companyid={companyId}&companyname={companyName}&password={password}&email={email}
      //  url: "http://localhost:8080/jerseyservice/rest/admin/createcompany/companyid=" + form.companyid.value + "&companyname=" + form.companyname.value + "&password=" + form.password.value + "&email=" + form.password.value,
        //type: "GET",            
        //dataType: "html"
    //});

	 //window.location="admin.html";
    /* request.done(function() {    	
        $("#createdcompanyid").html("created new company");          
    });

    request.fail(function(jqXHR, textStatus) {
        alert( "Request failed: " + textStatus );
    }); */
	//$('#createdcompanyid').html("ht");
	document.getElementById("createdcompanyid").innerHTML = "hu";
}


/* var app2 = angular.module('myAppCreateCustomer', []);
app2.controller('myCtrlCreateCustomer', function($scope) {
    $scope.showMeCreateCustomer = false;
    $scope.myFuncCreateCustomer = function() {
        $scope.showMeCreateCustomer = !$scope.showMeCreateCustomer;
    }
});
angular.bootstrap(document, ['myAppCreateCompany', 'myAppCreateCustomer']); */

</script>

</body>
</html>