<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.dataTables.js"></script>
<head>
	<style >
		nav {
			    float: left;
			    max-width: 310px;
			    margin: 0;
			    padding: 1em;
		}
		nav ul a {
		    text-decoration: none;
		}
		article {
		    margin-left: 320px;
		    border-left: 1px solid gray;
		    padding: 1em;
		    overflow: hidden;
		    }
		table, th , td  {
   		border: 1px solid grey;
    	border-collapse: collapse;
    	padding: 5px;
		}
		table tr:nth-child(odd) {
    	background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
    	background-color: #ffffff;
		}  
	</style>
<meta charset="ISO-8859-1">
<title>CouponSite</title>
</head>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.showMeCreateCompany = false;
    $scope.myFuncCreateCompany = function() {
        $scope.showMeCreateCompany = !$scope.showMeCreateCompany;
        $scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }
	$scope.showMeUpdateCompany = false;
    $scope.myFuncUpdateCompany = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = !$scope.showMeUpdateCompany;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }
	$scope.showMeFindCompany = false;
	$scope.myFuncFindCompany = function() {
        $scope.showMeCreateCompany = false;
        $scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = !$scope.showMeFindCompany;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }	
	$scope.showMeGetAllCompany = false;
	$scope.myFuncGetAllCompany = function() {
        $scope.showMeCreateCompany = false;
        $scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = !$scope.showMeGetAllCompany;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }		
	
    $scope.showMeCreateCustomer = false;
    $scope.myFuncCreateCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = !$scope.showMeCreateCustomer;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }	
	$scope.showMeUpdateCustomer = false;
    $scope.myFuncUpdateCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = !$scope.showMeUpdateCustomer;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }
	$scope.showMeFindCustomer = false;
    $scope.myFuncFindCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = !$scope.showMeFindCustomer;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }
	$scope.showMeGetAllCustomer = false;
    $scope.myFuncGetAllCustomer = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = !$scope.showMeGetAllCustomer;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }
    $scope.showMeGetAllCouponsByType = false;
    $scope.myFuncGetAllCouponsByType = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = !$scope.showMeGetAllCouponsByType;
	    $scope.showMeGetAllPurchaseCoupons = false;
    }
    $scope.showMeGetAllPurchaseCoupons = false;
    $scope.myFuncGetAllPurchaseCoupons = function() {
        $scope.showMeCreateCompany = false;
		$scope.showMeUpdateCompany = false;
		$scope.showMeFindCompany = false;
		$scope.showMeGetAllCompany = false;
		$scope.showMeCreateCustomer = false;
		$scope.showMeUpdateCustomer = false;
		$scope.showMeFindCustomer = false;
		$scope.showMeGetAllCustomer = false;
	    $scope.showMeGetAllCouponsByType = false;
	    $scope.showMeGetAllPurchaseCoupons = !$scope.showMeGetAllPurchaseCoupons;
    }
});

function CreateCompany1() {
	var companyid = $("#createcompanycompanyid").val();
	var companyname = $("#createcompanycompanyname").val();
	var password = $("#createcompanypassword").val();
	var email = $("#createcompanyemail").val();
	if (companyid == "" || companyname == "" || password == "" || email == ""){
		var messageBox = document.getElementById("createcompanymessagebox");
		messageBox.innerHTML = "To create company please enter all fields";
		return;
	}
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/createcompany/" + companyid + "/" + companyname + "/" + password + "/" + email;
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () { 
	     if (xhr.status == 200) {
	        var messageboxHtml = document.getElementById("createcompanymessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
	    } else {
	    	 alert('Action failed: ' + xhr.responseText);
	    }
	}
	xhr.send();
}

function UpdateCompany1() {
	var companyid = $("#updatecompanycompanyid").val();
	var companyname = $("#updatecompanycompanyname").val();
	var password = $("#updatecompanypassword").val();
	var email = $("#updatecompanyemail").val();
	if (companyid == "" || companyname == "" || password == "" || email == ""){
		var messageBox = document.getElementById("updatecompanymessagebox");
		messageBox.innerHTML = "To update company please enter all fields";
		return;
	}
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/updatecompany/" + companyid + "/" + companyname + "/" + password + "/" + email;
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () { 
	     if (xhr.status == 200) {
	        var messageboxHtml = document.getElementById("updatecompanymessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
	    } else {
	    	if (xhr.status == 201) {
		        var messageboxHtml = document.getElementById("updatecompanymessagebox");
		        messageboxHtml.innerHTML = xhr.responseText;
	    			} else {
	    				 alert('Action failed: ' + xhr.responseText);
	    				}
	    		}
		}
	xhr.send();
}
function DeleteCompany1() {
var companyid = $("#findcompanycompanyid").val();
var companyname = $("#findcompanycompanyname").val();
var password = $("#findcompanypassword").val();
var email = $("#findcompanyemail").val();
if(companyid == "" || companyname == "" || password == "" || email == ""){	
	var messageBox = document.getElementById("findcompanymessagebox");
	messageBox.innerHTML = "To delete company, please enter Company ID and find her";
	return;
}
xhr = new XMLHttpRequest();
var url = "http://localhost:8080/jerseyservice/rest/admin/deletecompany/" + companyid + "/" + companyname + "/" + password + "/" + email;
xhr.open("DELETE", url, true);
xhr.setRequestHeader("Content-type", "application/json");
xhr.onreadystatechange = function () { 
     if (xhr.status == 200) {
        var messageboxHtml = document.getElementById("findcompanymessagebox");
        messageboxHtml.innerHTML = xhr.responseText;
    } else {
    	if (xhr.status == 201) {
	        var messageboxHtml = document.getElementById("findcompanymessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
    			} else {
    				 alert('Action failed: ' + xhr.responseText);
    				}
    		}
	}
xhr.send();
}
function FindCompany1() {
	var extractedCompanyId = $("#findcompanycompanyid").val();
	if(extractedCompanyId == ""){
		var messageBox = document.getElementById("findcompanymessagebox");
		messageBox.innerHTML = "To find and/or delete company, please enter Company ID";
		return;
	}
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/getcompany/" + extractedCompanyId;
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseAsJsonObj = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}							
			var findcompanycompanynameHtml = document.getElementById("findcompanycompanyname");
			findcompanycompanynameHtml.value = responseAsJsonObj.companyName;
			var findcompanypasswordHtml = document.getElementById("findcompanypassword");
			findcompanypasswordHtml.value = responseAsJsonObj.password;
			var findcompanyemailHtml = document.getElementById("findcompanyemail");
			findcompanyemailHtml.value = responseAsJsonObj.email;
			var messageBox = document.getElementById("findcompanymessagebox");
			messageBox.innerHTML = "got company: " + extractedCompanyId;
			
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("findcompanymessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function GetAllCompanies1() {
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/getallcompanies";
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseArray = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}	
			var i;
			var out = "<table><tr><th>Company ID</th><th>Company Name</th><th>Password</th><th>Email</th></tr>";
			
			for(i = 0; i < responseArray.length; i++) {
		        out += "<tr><td>" +
		        responseArray[i].companyId +
		        "</td><td>" +
		        responseArray[i].companyName +
		        "</td><td>" +
		        responseArray[i].password +
		        "</td><td>" +
		        responseArray[i].email +
		        "</td></tr>";
		    }
		    out += "</table>";
		    document.getElementById("getallcompaniestable").innerHTML = out;
		    var messageBox = document.getElementById("getallcompanymessagebox");
			messageBox.innerHTML = "got all companies successfully";
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("getallcompanymessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function CreateCustomer1() {
	var customerid = $("#createcustomercustomerid").val();
	var customername = $("#createcustomercustomername").val();
	var password = $("#createcustomerpassword").val();
	var email = $("#createcustomeremail").val();
	if (customerid == "" || customername == "" || password == "" || email == ""){
		var messageBox = document.getElementById("createcustomermessagebox");
		messageBox.innerHTML = "To create customer please enter all fields";
		return;
	}
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/createcustomer/" + customerid + "/" + customername + "/" + password + "/" + email;
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () { 
	     if (xhr.status == 200) {
	        var messageboxHtml = document.getElementById("createcustomermessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
	    } else {
	    	 alert('Action failed: ' + xhr.responseText);
	    }
	}
	xhr.send();
}
function UpdateCustomer1() {
	var customerid = $("#updatecustomercustomerid").val();
	var customername = $("#updatecustomercustomername").val();
	var password = $("#updatecustomerpassword").val();
	var email = $("#updatecustomeremail").val();
	if (customerid == "" || customername == "" || password == "" || email == ""){
		var messageBox = document.getElementById("updatecustomermessagebox");
		messageBox.innerHTML = "To update customer please enter all fields";
		return;
	}
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/updatecustomer/" + customerid + "/" + customername + "/" + password + "/" + email;
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () { 
	     if (xhr.status == 200) {
	        var messageboxHtml = document.getElementById("updatecustomermessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
	    } else {
	    	if (xhr.status == 201) {
		        var messageboxHtml = document.getElementById("updatecustomermessagebox");
		        messageboxHtml.innerHTML = xhr.responseText;
	    			} else {
	    				 alert('Action failed: ' + xhr.responseText);
	    				}
	    		}
		}
	xhr.send();
}
function DeleteCustomer1() {
var customerid = $("#findcustomercustomerid").val();
var customername = $("#findcustomercustomername").val();
var password = $("#findcustomerpassword").val();
var email = $("#findcustomeremail").val();
if (customerid == "" || customername == "" || password == "" || email == ""){
	var messageBox = document.getElementById("findcustomermessagebox");
	messageBox.innerHTML = "To delete customer please enter all fields and find him";
	return;
}
xhr = new XMLHttpRequest();
var url = "http://localhost:8080/jerseyservice/rest/admin/deletecustomer/" + customerid + "/" + customername + "/" + password + "/" + email;
xhr.open("DELETE", url, true);
xhr.setRequestHeader("Content-type", "application/json");
xhr.onreadystatechange = function () { 
     if (xhr.status == 200) {
        var messageboxHtml = document.getElementById("findcustomermessagebox");
        messageboxHtml.innerHTML = xhr.responseText;
    } else {
    	if (xhr.status == 201) {
	        var messageboxHtml = document.getElementById("findcustomermessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
    			} else {
    				 alert('Action failed: ' + xhr.responseText);
    				}
    		}
	}
xhr.send();
}
function FindCustomer1() {
	var extractedCustomerId = $("#findcustomercustomerid").val();
	if (extractedCustomerId == ""){
		var messageBox = document.getElementById("findcustomermessagebox");
		messageBox.innerHTML = "To find and/or delete customer, please enter all fields";
		return;
	}
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/getcustomer/" + extractedCustomerId;
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseAsJsonObj = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}							
			var findcustomercustomernameHtml = document.getElementById("findcustomercustomername");
			findcustomercustomernameHtml.value = responseAsJsonObj.customerName;
			var findcustomerpasswordHtml = document.getElementById("findcustomerpassword");
			findcustomerpasswordHtml.value = responseAsJsonObj.password;
			var findcustomeremailHtml = document.getElementById("findcustomeremail");
			findcustomeremailHtml.value = responseAsJsonObj.email;
			var messageBox = document.getElementById("findcustomermessagebox");
			messageBox.innerHTML = "got customer: " + extractedCustomerId;
			
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("findcustomermessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function GetAllCustomers1() {
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/admin/getallcustomers";
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseArray = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}	
			var i;
			var out = "<table><tr><th>Customer ID</th><th>Customer Name</th><th>Password</th><th>Email</th></tr>";
			
			for(i = 0; i < responseArray.length; i++) {
		        out += "<tr><td>" +
		        responseArray[i].customerId +
		        "</td><td>" +
		        responseArray[i].customerName +
		        "</td><td>" +
		        responseArray[i].password +
		        "</td><td>" +
		        responseArray[i].email +
		        "</td></tr>";
		    }
		    out += "</table>";
		    document.getElementById("getallcustomerstable").innerHTML = out;
		    var messageBox = document.getElementById("getallcustomermessagebox");
			messageBox.innerHTML = "got all customers successfully";
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("getallcustomermessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function GetAllCouponsByType1() {
	var extractedCompanyId = $("#getallcouponsbytypecompanyid").val();
	var extractedType = $("#getallcouponsbytypetype").val();
	xhr = new XMLHttpRequest();
	if (extractedCompanyId !="" && extractedType !=""){
		var url = "http://localhost:8080/jerseyservice/rest/admin/getallcouponsbycompanyandtype/" + extractedCompanyId + "/" + extractedType;
	} else {
		if (extractedCompanyId != ""  && extractedType == ""){
			var url = "http://localhost:8080/jerseyservice/rest/admin/getallcouponsbycompany/" + extractedCompanyId;
		} else {
			if (extractedCompanyId == "" && extractedType !== ""){
				var url = "http://localhost:8080/jerseyservice/rest/admin/getallcouponsbytype/" + extractedType;
			} else {
				var url = "http://localhost:8080/jerseyservice/rest/admin/getallcoupons";
			}
		}
	}
	
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseArray = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}	
			var i;
			var out = "<table><tr><th>Coupon ID</th><th>Company ID</th><th>Title</th><th>Start Date</th><th>End Date</th><th>Amount</th><th>Type</th><th>Message</th><th>Price</th></tr>";
			
			for(i = 0; i < responseArray.length; i++) {
		        out += "<tr><td>" +
		        responseArray[i].couponId +
		        "</td><td>" +
		        responseArray[i].companyId +
		        "</td><td>" +
		        responseArray[i].title +
		        "</td><td>" +
		        new Date(responseArray[i].startDate).toDateString() +
		        "</td><td>" +
		        new Date(responseArray[i].endDate).toDateString() +
		        "</td><td>" +
		        responseArray[i].amount +
		        "</td><td>" +
		        responseArray[i].type +
		        "</td><td>" +
		        responseArray[i].message +
		        "</td><td>" +
		        responseArray[i].price +
		        "</td></tr>";
		    }
		    out += "</table>";
		    document.getElementById("getallcouponsbytypetable").innerHTML = out;
		    var messageBox = document.getElementById("getallcouponsbytypemessagebox");
			messageBox.innerHTML = "got all coupons successfully";
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("getallcouponsbytypemessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function GetAllPurchaseCoupons1() {
	var extractedCustomerId = $("#getallpurchasecouponscustomerid").val();
	xhr = new XMLHttpRequest();
	if (extractedCustomerId !="" ){
		var url = "http://localhost:8080/jerseyservice/rest/admin/getallpurchasecouponsbycustomer/" + extractedCustomerId;
		} else {
			var url = "http://localhost:8080/jerseyservice/rest/admin/getallpurchasecoupons";
	}
	
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseArray = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}	
			var i;
			var out = "<table><tr><th>Coupon ID</th><th>Company ID</th><th>Title</th><th>Start Date</th><th>End Date</th><th>Amount</th><th>Type</th><th>Message</th><th>Price</th></tr>";
			
			for(i = 0; i < responseArray.length; i++) {
		        out += "<tr><td>" +
		        responseArray[i].couponId +
		        "</td><td>" +
		        responseArray[i].companyId +
		        "</td><td>" +
		        responseArray[i].title +
		        "</td><td>" +
		        new Date(responseArray[i].startDate).toDateString() +
		        "</td><td>" +
		        new Date(responseArray[i].endDate).toDateString() +
		        "</td><td>" +
		        responseArray[i].amount +
		        "</td><td>" +
		        responseArray[i].type +
		        "</td><td>" +
		        responseArray[i].message +
		        "</td><td>" +
		        responseArray[i].price +
		        "</td></tr>";
		    }
		    out += "</table>";
		    document.getElementById("getallpurchasecouponstable").innerHTML = out;
		    var messageBox = document.getElementById("getallpurchasecouponsmessagebox");
			messageBox.innerHTML = "got all coupons successfully";
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("getallpurchasecouponsmessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function logout1() {
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/logout";
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () {
		if (xhr.status == 200) {
			location.href="login.html";	
		}
	}
	xhr.send();
}
	
</script>

<div id="Admin">
	<header>
   		<h1>Welcome Admin</h1>
   		<input type="button" onclick="logout1()" value="Logout"/>
	</header>
</div>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav>
  		<ul>
		    <li><a ng-click="myFuncCreateCompany()" href="#">Create Company</a></li>
		    <li><a ng-click="myFuncUpdateCompany()" href="#">Update Company</a></li>
		    <li><a ng-click="myFuncFindCompany()" href="#">Find and Delete Company</a></li>
		    <li><a ng-click="myFuncGetAllCompany()" href="#">Get all Companies</a></li>
		    <br/>
			<br/>
			<li><a ng-click="myFuncCreateCustomer()" href="#">Create Customer</a></li>
		    <li><a ng-click="myFuncUpdateCustomer()" href="#">Update Customer</a></li>
		    <li><a ng-click="myFuncFindCustomer()" href="#">Find and Delete Customer</a></li>
		    <li><a ng-click="myFuncGetAllCustomer()" href="#">Get all Customers</a></li>
		    <br/>
			<br/>
		    <li><a ng-click="myFuncGetAllCouponsByType()" href="#">Get Coupons</a></li>
		    <li><a ng-click="myFuncGetAllPurchaseCoupons()" href="#">Get purchase Coupons</a></li>
  		</ul>
	</nav>

<article ng-show="showMeCreateCompany">
		<h1>Create Company</h1>
			<form action="createcompany">
				<div name= "createcompany">
					Company ID: <input type="number" placeholder="Company ID"  name="companyid" id="createcompanycompanyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" placeholder="Company Name"  name="companyname" id="createcompanycompanyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password" id="createcompanypassword"/> 
					<br/>
					<br/>
					Email: <input type="email" placeholder="Email"  name="email" id="createcompanyemail"/>
					<br/>					
					<br/>
					<input value="Create company" type="button" onclick="CreateCompany1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="createcompanymessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeUpdateCompany">
		<h1>Update Company</h1>
			<form action="updatecompany">
				<div name= "updatecompany">
					Company ID: <input type="number" placeholder="Company ID"  name="companyid" id="updatecompanycompanyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" placeholder="Company Name"  name="companyname" id="updatecompanycompanyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password" id="updatecompanypassword"/> 
					<br/>
					<br/>
					Email: <input type="email" placeholder="Email"  name="email" id="updatecompanyemail"/>
					<br/>					
					<br/>
					<input value="Update company" type="button" onclick="UpdateCompany1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="updatecompanymessagebox"> <textarea> </textarea></div>
				</div> 
			</form>		
</article>

<article ng-show="showMeFindCompany">
		<h1>Find Company by ID and Delete Customer</h1>
			<form action="findcompany">
				<div name= "findcompany">
					Please enter Company ID: <input type="number" placeholder="Company ID"  name="companyid" id="findcompanycompanyid"/> 
					<br/>
					<br/>
					Company Name: <input type="text" readonly placeholder="Company Name"  name="companyname" id="findcompanycompanyname"/> 			
					<br/>
					<br/>
					Password: <input type="text" readonly placeholder="Password"  name="password" id="findcompanypassword"/> 
					<br/>
					<br/>
					Email: <input type="email" readonly placeholder="Email"  name="email" id="findcompanyemail"/>
					<br/>					
					<br/>
					<input value="Find company" type="button" onclick="FindCompany1()"/>
					<input value="Delete company" type="button" onclick="DeleteCompany1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="findcompanymessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeGetAllCompany">
		<h1>Get All Companies</h1>
			<form action="getallcompany">
				<div name= "getallcompany">
					<input value="Click here to get all companies" type="button" onclick="GetAllCompanies1()"/>
					<br/>
					<br/>
					<div id="getallcompanymessagebox"> <textarea> </textarea></div>
					<br/>
					<div id= getallcompaniestable> </div>
				</div>
			</form>		
</article>

<article ng-show="showMeCreateCustomer"> 
		<h1>Create Customer</h1>
			<form action="createcustomer">
				<div name="createcustomer"> 
					Customer ID: <input type="number" placeholder="Customer ID"  name="customerid" id="createcustomercustomerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" placeholder="Customer Name"  name="customername" id="createcustomercustomername"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password" id="createcustomerpassword"/> 
					<br/>
					<br/>
					Email: <input type="email" placeholder="Email"  name="email" id="createcustomeremail"/>
					<br/>
					<br/>
					<input value="Create customer" type="button" onclick="CreateCustomer1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="createcustomermessagebox"> <textarea> </textarea></div>
					</div>			
				</form>		
</article>

<article ng-show="showMeUpdateCustomer"> 
		<h1>Update Customer</h1>
			<form action="updatecustomer">
				<div name="updatecustomer">
					Customer ID: <input type="number" placeholder="Customer ID"  name="customerid" id="updatecustomercustomerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" placeholder="Customer Name"  name="customername" id="updatecustomercustomername"/> 			
					<br/>
					<br/>
					Password: <input type="text" placeholder="Password"  name="password" id="updatecustomerpassword"/> 
					<br/>
					<br/>
					Email: <input type="email" placeholder="Email"  name="email" id="updatecustomeremail"/>
					<br/>
					<br/>
					<input value="Update customer" type="button" onclick="UpdateCustomer1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="updatecustomermessagebox"> <textarea> </textarea></div>
					</div>			
				</form>		
</article>

<article ng-show="showMeFindCustomer"> 
		<h1>Find Customer by ID and Delete Customer</h1>
			<form action="findcustomer">
				<div name="findcustomer">
					Please enter Customer ID: <input type="number" placeholder="Customer ID"  name="customerid" id="findcustomercustomerid"/> 
					<br/>
					<br/>
					Customer Name: <input type="text" readonly placeholder="Customer Name"  name="customername" id="findcustomercustomername"/> 			
					<br/>
					<br/>
					Password: <input type="text" readonly placeholder="Password"  name="password" id="findcustomerpassword"/> 
					<br/>
					<br/>
					Email: <input type="email" readonly placeholder="Email"  name="email" id="findcustomeremail"/>
					<br/>
					<br/>
					<input value="Find customer" type="button" onclick="FindCustomer1()"/>
					<input value="Delete customer" type="button" onclick="DeleteCustomer1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="findcustomermessagebox"> <textarea> </textarea></div>
					</div>			
			</form>		
</article>

<article ng-show="showMeGetAllCustomer">
		<h1>Get All Customers</h1>
			<form action="getallcustomer">
				<div name= "getallcustomer">
					<input value="Click here to get all customers" type="button" onclick="GetAllCustomers1()"/>
					<br/>
					<br/>
					<div id="getallcustomermessagebox"> <textarea> </textarea></div>
					<br/>
					<div id= getallcustomerstable> </div>
				</div>
			</form>		
</article>

<article ng-show="showMeGetAllCouponsByType">
		<h1>Get Coupons</h1>
			<form action="getallcouponsbytype">
				<div name= "getallcouponsbytype">
					Please enter Company ID: <input type="number" placeholder="Company ID"  name="companyid" id="getallcouponsbytypecompanyid"/>
					<br/>
					<br/> 
					Please select Type of coupon: <select name="Type" id="getallcouponsbytypetype"> 
					<option></option>
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					<input value="Click here to get coupons" type="button" onclick="GetAllCouponsByType1()"/>
					<br/>
					<br/>
					<div id="getallcouponsbytypemessagebox"> <textarea> </textarea></div>
					<br/>
					<div id= getallcouponsbytypetable> </div>
				</div>
			</form>		
</article>

<article ng-show="showMeGetAllPurchaseCoupons">
		<h1>Get purchase Coupons</h1>
			<form action="getallpurchasecoupons">
				<div name= "getallpurchasecoupons">
					Please enter Customer ID: <input type="number" placeholder="Customer ID"  name="customerid" id="getallpurchasecouponscustomerid"/>
					<br/>
					<br/>
					<input value="Click here to get purchase coupons" type="button" onclick="GetAllPurchaseCoupons1()"/>
					<br/>
					<br/>
					<div id="getallpurchasecouponsmessagebox"> <textarea> </textarea></div>
					<br/>
					<div id= getallpurchasecouponstable> </div>
				</div>
			</form>		
</article>

</body>
</html>
