<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.dataTables.js"></script>
<head>
	<style >
		nav {
			    float: left;
			    max-width: 160px;
			    margin: 0;
			    padding: 1em;
		}
		nav ul a {
		    text-decoration: none;
		}
		article {
		    margin-left: 170px;
		    border-left: 1px solid gray;
		    padding: 1em;
		    overflow: hidden;
		    }
	</style>
<meta charset="ISO-8859-1">
<title>CouponSite</title>
</head>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.showMeCreateCoupon = false;
    $scope.myFuncCreateCoupon = function() {
        $scope.showMeCreateCoupon = !$scope.showMeCreateCoupon;
        $scope.showMeUpdateCoupon = false;
		$scope.showMeDeleteCoupon = false;
		$scope.showMeFindCoupon = false;
		$scope.showMeGetAllCoupons = false;
		$scope.showMeGetAllCouponsByType = false;
    }
    $scope.showMeUpdateCoupon = false;
    $scope.myFuncUpdateCoupon = function() {
        $scope.showMeCreateCoupon = false;
        $scope.showMeUpdateCoupon = !$scope.showMeUpdateCoupon;
		$scope.showMeDeleteCoupon = false;
		$scope.showMeFindCoupon = false;
		$scope.showMeGetAllCoupons = false;
		$scope.showMeGetAllCouponsByType = false;
    }
    $scope.showMeDeleteCoupon = false;
    $scope.myFuncDeleteCoupon = function() {
        $scope.showMeCreateCoupon = false;
        $scope.showMeUpdateCoupon = false;
		$scope.showMeDeleteCoupon = !$scope.showMeUpdateCoupon;
		$scope.showMeFindCoupon = false;
		$scope.showMeGetAllCoupons = false;
		$scope.showMeGetAllCouponsByType = false;
    }
});

/*function CreateCompany1() {
    	var companyid = $("#createcompanycompanyid").val();
    	var companyname = $("#createcompanycompanyname").val();
    	var password = $("#createcompanypassword").val();
    	var email = $("#createcompanyemail").val();
    	xhr = new XMLHttpRequest();
    	var url = "http://localhost:8080/jerseyservice/rest/admin/createcompany/" + companyid + "/" + companyname + "/" + password + "/" + email;
    	xhr.open("POST", url, true);
    	xhr.setRequestHeader("Content-type", "application/json");
    	xhr.onreadystatechange = function () { 
    	     if (xhr.status == 200) {
    	        var messageboxHtml = document.getElementById("createcompanymessagebox");
    	        messageboxHtml.innerHTML = xhr.responseText;
    	    } else {
    	    	 alert('Action failed: ' + xhr.responseText);
    	    }
    	}
    	xhr.send();
    }*/
    
</script>

<div id="Company">
	<header>
   		<h1>Welcome Company Client</h1>
	</header>
</div>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav>
  		<ul>
		    <li><a ng-click="myFuncCreateCoupon()" href="#">Create Coupon</a></li>
		    <li><a ng-click="myFuncUpdateCoupon()" href="#">Update Coupon</a></li>
		    <li><a ng-click="myFuncDeleteCoupon()" href="#">Delete Coupon</a></li>
		    <li><a ng-click="myFuncFindCoupon()" href="#">Find Coupon</a></li>
		    <li><a ng-click="myFuncGetAllCoupons()" href="#">Get All Coupons</a></li>
		    <li><a ng-click="myFuncGetAllCouponsByType()" href="#">Get All Coupons By Type</a></li>
 		</ul>
	</nav>

<article ng-show="showMeCreateCoupon">
		<h1>Create Coupon</h1>
			<form action="createcoupon">
				<div name= "createcoupon">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid" id="createcouponcompanyid"/> 
					<br/>
					<br/>
					Coupon ID: <input type="text" placeholder="Coupon ID"  name="couponId" id="createcouponcouponid"/> 
					<br/>
					<br/>
					Company ID: <input type="text" placeholder="Company ID"  name="companyId" id="createcouponcompanyid"/>  			
					<br/>
					<br/>
					Title: <input type="text" placeholder="Title"  name="title" id="createcoupontitle"/> 
					<br/>
					<br/>
					Start Date: <input type="text" placeholder="Start Date"  name="startDate" id="createcouponstartdate"/>
					<br/>
					<br/>
					End Date: <input type="text" placeholder="End Date"  name="endDate" id="createcouponenddate"/>
					<br/>
					<br/>
					Amount: <input type="text" placeholder="Amount"  name="amount" id="createcouponamount"/>
					<br/>
					<br/>
					Type: <select name="Type" id="createcoupontype"> 
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					Message:
					<br/>
					<textarea cols="30" rows="5" id="createcouponmessage"> </textarea>
					<br/>
					<br/>
					Price: <input type="text" placeholder="Price"  name="price" id="createcouponprice"/>
					<br/>
					<br/>
					Select an image : <input type="file" name="image" size="45" id="createcouponimage"/> 
					<br/>
					<br/>
					<br/>
					<input value="Submit" type="button" onclick="CreateCoupon1()"/>
					<br/>
					<br/>
					<div id="createcouponmessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeUpdateCoupon">
		<h1>Update Coupon</h1>
			<form action="updatecoupon">
				<div name= "updatecoupon">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid" id="updatecouponcompanyid"/> 
					<br/>
					<br/>
					Coupon ID: <input type="text" placeholder="Coupon ID"  name="couponId" id="updatecouponcouponid"/> 
					<br/>
					<br/>
					Company ID: <input type="text" placeholder="Company ID"  name="companyId" id="updatecouponcompanyid"/>  			
					<br/>
					<br/>
					Title: <input type="text" placeholder="Title"  name="title" id="updatecoupontitle"/> 
					<br/>
					<br/>
					Start Date: <input type="text" placeholder="Start Date"  name="startDate" id="updatecouponstartdate"/>
					<br/>
					<br/>
					End Date: <input type="text" placeholder="End Date"  name="endDate" id="updatecouponenddate"/>
					<br/>
					<br/>
					Amount: <input type="text" placeholder="Amount"  name="amount" id="updatecouponamount"/>
					<br/>
					<br/>
					Type: <select name="Type" id="updatecoupontype"> 
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					Message:
					<br/>
					<textarea cols="30" rows="5" id="updatecouponmessage"> </textarea>
					<br/>
					<br/>
					Price: <input type="text" placeholder="Price"  name="price" id="updatecouponprice"/>
					<br/>
					<br/>
					Select an image : <input type="file" name="image" size="45" id="updatecouponimage"/> 
					<br/>
					<br/>
					<br/>
					<input value="Submit" type="button" onclick="UpdateCoupon1()"/>
					<br/>
					<br/>
					<div id="updatecouponmessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeDeleteCoupon">
		<h1>Delete Coupon</h1>
			<form action="deletecoupon">
				<div name= "deletecoupon">
					Company ID: <input type="text" placeholder="Company ID"  name="companyid" id="deletecouponcompanyid"/> 
					<br/>
					<br/>
					Coupon ID: <input type="text" placeholder="Coupon ID"  name="couponId" id="deletecouponcouponid"/> 
					<br/>
					<br/>
					Company ID: <input type="text" placeholder="Company ID"  name="companyId" id="deletecouponcompanyid"/>  			
					<br/>
					<br/>
					Title: <input type="text" placeholder="Title"  name="title" id="deletecoupontitle"/> 
					<br/>
					<br/>
					Start Date: <input type="text" placeholder="Start Date"  name="startDate" id="deletecouponstartdate"/>
					<br/>
					<br/>
					End Date: <input type="text" placeholder="End Date"  name="endDate" id="deletecouponenddate"/>
					<br/>
					<br/>
					Amount: <input type="text" placeholder="Amount"  name="amount" id="deletecouponamount"/>
					<br/>
					<br/>
					Type: <select name="Type" id="deletecoupontype"> 
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					Message:
					<br/>
					<textarea cols="30" rows="5" id="deletecouponmessage"> </textarea>
					<br/>
					<br/>
					Price: <input type="text" placeholder="Price"  name="price" id="deletecouponprice"/>
					<br/>
					<br/>
					Select an image : <input type="file" name="image" size="45" id="deletecouponimage"/> 
					<br/>
					<br/>
					<br/>
					<input value="Submit" type="button" onclick="DeleteCoupon1()"/>
					<br/>
					<br/>
					<div id="deletecouponmessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

</body>
</html>