<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.dataTables.js"></script>
    
<head>
	<style >
		nav {
			    float: left;
			    max-width: 200px;
			    margin: 0;
			    padding: 1em;
		}
		nav ul a {
		    text-decoration: none;
		}
		article {
		    margin-left: 210px;
		    border-left: 1px solid gray;
		    padding: 1em;
		    overflow: hidden;
		    }
		table, th , td  {
   		border: 1px solid grey;
    	border-collapse: collapse;
    	padding: 5px;
		}
		table tr:nth-child(odd) {
    	background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
    	background-color: #ffffff;
		}
	</style>
<meta charset="ISO-8859-1">
<title>CouponSite</title>
</head>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.showMeCreateCoupon = false;
    $scope.myFuncCreateCoupon = function() {
        $scope.showMeCreateCoupon = !$scope.showMeCreateCoupon;
        $scope.showMeUpdateCoupon = false;
		$scope.showMeFindCoupon = false;
		$scope.showMeGetAllCoupons = false;
    }
    $scope.showMeUpdateCoupon = false;
    $scope.myFuncUpdateCoupon = function() {
        $scope.showMeCreateCoupon = false;
        $scope.showMeUpdateCoupon = !$scope.showMeUpdateCoupon;
		$scope.showMeFindCoupon = false;
		$scope.showMeGetAllCoupons = false;
    }
    $scope.showMeFindCoupon = false;
    $scope.myFuncFindCoupon = function() {
        $scope.showMeCreateCoupon = false;
        $scope.showMeUpdateCoupon = false;
		$scope.showMeFindCoupon = !$scope.showMeFindCoupon;
		$scope.showMeGetAllCoupons = false;
    }
    $scope.showMeGetAllCoupons = false;
    $scope.myFuncGetAllCoupons = function() {
        $scope.showMeCreateCoupon = false;
        $scope.showMeUpdateCoupon = false;
		$scope.showMeFindCoupon = false;
		$scope.showMeGetAllCoupons = !$scope.showMeGetAllCoupons;
    }
});

function CreateCoupon1() {
    	var couponid = $("#createcouponcouponid").val();
    	var companyid = $("#createcouponcompanyid").val();
    	var title = $("#createcoupontitle").val();
    	var startdate = $("#createcouponstartdate").val();
    	var enddate = $("#createcouponenddate").val();
    	var amount = $("#createcouponamount").val();
    	var type = $("#createcoupontype").val();
    	var message = $("#createcouponmessage").val();
    	var price = $("#createcouponprice").val();
    	/*var image = $("#createcouponimage").val();*/
    	
    	xhr = new XMLHttpRequest();
    	var url = "http://localhost:8080/jerseyservice/rest/company/createcoupon/" + couponid + "/" + companyid + "/" + title + "/" + startdate + "/" + enddate + "/" + amount + "/" + type + "/" + message + "/" + price; //+ "/" + image;
    	xhr.open("POST", url, true);
    	xhr.setRequestHeader("Content-type", "application/json");
    	xhr.onreadystatechange = function () { 
    	     if (xhr.status == 200) {
    	        var messageboxHtml = document.getElementById("createcouponmessagebox");
    	        messageboxHtml.innerHTML = xhr.responseText;
    	    } else {
    	    	 alert('Action failed: ' + xhr.responseText);
    	    }
    	}
    	xhr.send();
    }
function UpdateCoupon1() {
	var couponid = $("#updatecouponcouponid").val();
	var companyid = $("#updatecouponcompanyid").val();
	var title = $("#updatecoupontitle").val();
	var startdate = $("#updatecouponstartdate").val();
	var enddate = $("#updatecouponenddate").val();
	var amount = $("#updatecouponamount").val();
	var type = $("#updatecoupontype").val();
	var message = $("#updatecouponmessage").val();
	var price = $("#updatecouponprice").val();
	/*var image = $("#updatecouponimage").val();*/
	
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/company/updatecoupon/" + couponid + "/" + companyid + "/" + title + "/" + startdate + "/" + enddate + "/" + amount + "/" + type + "/" + message + "/" + price; //+ "/" + image;
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () { 
	     if (xhr.status == 200) {
	        var messageboxHtml = document.getElementById("updatecouponmessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
	    } else {
	    	 alert('Action failed: ' + xhr.responseText);
	    }
	}
	xhr.send();
}    

function FindCoupon1() {
	var extractedCuoponId = $("#findcouponcouponid").val();
	var extractedCompanyId = $("#findcouponcompanyid").val();
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/company/getcoupon/" + extractedCuoponId + "/" + extractedCompanyId;
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {	
			var responseAsString = xhr.responseText;
			try {
				var responseAsJsonObj = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}							
			var findcoupontitledHtml = document.getElementById("findcoupontitle");
			findcoupontitledHtml.value = responseAsJsonObj.title;
			var findcouponstartdateHtml = document.getElementById("findcouponstartdate");
			findcouponstartdateHtml.value = new Date (responseAsJsonObj.startDate).toDateString();
			var findcouponenddateHtml = document.getElementById("findcouponenddate");
			findcouponenddateHtml.value = new Date (responseAsJsonObj.endDate).toDateString();
			var findcouponamountHtml = document.getElementById("findcouponamount");
			findcouponamountHtml.value = responseAsJsonObj.amount;
			var findcoupontypeHtml = document.getElementById("findcoupontype");
			findcoupontypeHtml.value = responseAsJsonObj.type;
			var findcouponmessageHtml = document.getElementById("findcouponmessage");
			findcouponmessageHtml.value = responseAsJsonObj.message;
			var findcouponpriceHtml = document.getElementById("findcouponprice");
			findcouponpriceHtml.value = responseAsJsonObj.price;
			/*var findcouponimageHtml = document.getElementById("findcouponimage");
			findcouponimageHtml.value = responseAsJsonObj.image;*/
			
			var messageBox = document.getElementById("findcouponmessagebox");
			messageBox.innerHTML = "got coupon";
			
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("findcouponmessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
function DeleteCoupon1() {
	var couponid = $("#findcouponcouponid").val();
	var companyid = $("#findcouponcompanyid").val();
	var title = $("#findcoupontitle").val();
	var startdate = $("#findcouponstartdate").val();
	var enddate = $("#findcouponenddate").val();
	var amount = $("#findcouponamount").val();
	var type = $("#findcoupontype").val();
	var message = $("#findcouponmessage").val();
	var price = $("#findcouponprice").val();
	/*var image = $("#findcouponimage").val();*/
	
	xhr = new XMLHttpRequest();
	var url = "http://localhost:8080/jerseyservice/rest/company/deletecoupon/" + couponid + "/" + companyid + "/" + title + "/" + startdate + "/" + enddate + "/" + amount + "/" + type + "/" + message + "/" + price; //+ "/" + image;
	xhr.open("DELETE", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.onreadystatechange = function () { 
	     if (xhr.status == 200) {
	        var messageboxHtml = document.getElementById("findcouponmessagebox");
	        messageboxHtml.innerHTML = xhr.responseText;
	    } else {
	    	 alert('Action failed: ' + xhr.responseText);
	    }
	}
	xhr.send();
}
function GetAllCoupons1() {
	var extractedCompanyId = $("#getallcouponscompanyid").val();
	var extractedType = $("#getallcouponstype").val();
	xhr = new XMLHttpRequest();
	if (extractedType !="" ){
		var url = "http://localhost:8080/jerseyservice/rest/company/getallcouponsbycompanyandtype/" + extractedCompanyId + "/" + extractedType;
		} else {
			var url = "http://localhost:8080/jerseyservice/rest/company/getallcouponsbycompany/" + extractedCompanyId;
	}
	
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/json");
	xhr.send();	
	xhr.onreadystatechange = function() {
		if (this.status == 200) {
			var responseAsString = xhr.responseText;
			try {
				var responseArray = JSON.parse(responseAsString);
			} catch (err) {
				console.log("error in parsing JSON");
			}	
			var i;
			var out = "<table><tr><th>Coupon ID</th><th>Company ID</th><th>Title</th><th>Start Date</th><th>End Date</th><th>Amount</th><th>Type</th><th>Message</th><th>Price</th></tr>";
			
			for(i = 0; i < responseArray.length; i++) {
		        out += "<tr><td>" +
		        responseArray[i].couponId +
		        "</td><td>" +
		        responseArray[i].companyId +
		        "</td><td>" +
		        responseArray[i].title +
		        "</td><td>" +
		        new Date(responseArray[i].startDate).toDateString() +
		        "</td><td>" +
		        new Date(responseArray[i].endDate).toDateString() +
		        "</td><td>" +
		        responseArray[i].amount +
		        "</td><td>" +
		        responseArray[i].type +
		        "</td><td>" +
		        responseArray[i].message +
		        "</td><td>" +
		        responseArray[i].price +
		        "</td></tr>";
		    }
		    out += "</table>";
		    document.getElementById("getallcouponstable").innerHTML = out;
		    var messageBox = document.getElementById("getallcouponsmessagebox");
			messageBox.innerHTML = "got coupons successfully";
		} else { 
				if (this.status == 201){
					var messageboxHtml = document.getElementById("getallcouponsmessagebox");
	        		messageboxHtml.innerHTML = xhr.responseText;
				} else {
						alert('Action failed: ' + xhr.responseText);
						}
				}
	}	 
}
</script>

<div id="Company">
	<header>
   		<h1>Welcome Company Client</h1>
	</header>
</div>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav>
  		<ul>
		    <li><a ng-click="myFuncCreateCoupon()" href="#">Create Coupon</a></li>
		    <li><a ng-click="myFuncUpdateCoupon()" href="#">Update Coupon</a></li>
		    <li><a ng-click="myFuncFindCoupon()" href="#">Find and Delete Coupon</a></li>
		    <li><a ng-click="myFuncGetAllCoupons()" href="#">Get Coupons</a></li>
 		</ul>
	</nav>

<article ng-show="showMeCreateCoupon">
		<h1>Create Coupon</h1>
			<form action="createcoupon">
				<div name= "createcoupon">
					Coupon ID: <input type="number" placeholder="Coupon ID" min=1 name="couponId" id="createcouponcouponid"/> 
					<br/>
					<br/>
					Company ID: <input type="number" placeholder="Company ID" min=1 name="companyId" id="createcouponcompanyid"/>  			
					<br/>
					<br/>
					Title: <input type="text" placeholder="Title"  name="title" id="createcoupontitle"/> 
					<br/>
					<br/>
					Start Date: <input type="date" placeholder="Start Date"  name="startDate" id="createcouponstartdate"/>
					<br/>
					<br/>
					End Date: <input type="date" placeholder="End Date"  name="endDate" id="createcouponenddate"/>
					<br/>
					<br/>
					Amount: <input type="number" placeholder="Amount" min=1 name="amount" id="createcouponamount"/>
					<br/>
					<br/>
					Type: <select name="Type" id="createcoupontype"> 
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					Message:
					<br/>
					<textarea cols="30" rows="5" id="createcouponmessage"> </textarea>
					<br/>
					<br/>
					Price: <input type="number" placeholder="Price" min=0 name="price" id="createcouponprice"/>
					<!-- <br/>
					<br/>
					Select an image : <input type="file" name="image" size="45" id="createcouponimage"/> --> 
					<br/>
					<br/>
					<br/>
					<input value="Create coupon" type="button" onclick="CreateCoupon1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="createcouponmessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeUpdateCoupon">
		<h1>Update Coupon</h1>
			<form action="updatecoupon">
				<div name= "updatecoupon">
					Coupon ID: <input type="number" placeholder="Coupon ID" min=1 name="couponId" id="updatecouponcouponid"/> 
					<br/>
					<br/>
					Company ID: <input type="number" placeholder="Company ID" min=1 name="companyId" id="updatecouponcompanyid"/>  			
					<br/>
					<br/>
					Title: <input type="text" placeholder="Title"  name="title" id="updatecoupontitle"/> 
					<br/>
					<br/>
					Start Date: <input type="date" placeholder="Start Date"  name="startDate" id="updatecouponstartdate"/>
					<br/>
					<br/>
					End Date: <input type="date" placeholder="End Date"  name="endDate" id="updatecouponenddate"/>
					<br/>
					<br/>
					Amount: <input type="number" placeholder="Amount" min=1 name="amount" id="updatecouponamount"/>
					<br/>
					<br/>
					Type: <select name="Type" id="updatecoupontype"> 
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					Message:
					<br/>
					<textarea cols="30" rows="5" id="updatecouponmessage"> </textarea>
					<br/>
					<br/>
					Price: <input type="number" placeholder="Price" min=0 name="price" id="updatecouponprice"/>
					<!-- <br/>
					<br/>
					Select an image : <input type="file" name="image" size="45" id="updatecouponimage"/>  -->
					<br/>
					<br/>
					<br/>
					<input value="Update coupon" type="button" onclick="UpdateCoupon1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="updatecouponmessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeFindCoupon">
		<h1>Find and Delete Coupon</h1>
			<form action="findcoupon">
				<div name= "findcoupon">
					Please enter Coupon ID: <input type="number" placeholder="Coupon ID" min=1 name="couponId" id="findcouponcouponid"/> 
					<br/>
					<br/>
					Please enter Company ID: <input type="number" placeholder="Company ID" min=1 name="companyId" id="findcouponcompanyid"/>  			
					<br/>
					<br/>
					Title: <input type="text" readonly placeholder="Title" name="title" id="findcoupontitle"/> 
					<br/>
					<br/>
					Start Date: <input type="text" readonly placeholder="Start Date"  name="startDate" id="findcouponstartdate"/>
					<br/>
					<br/>
					End Date: <input type="text" readonly placeholder="End Date"  name="endDate" id="findcouponenddate"/>
					<br/>
					<br/>
					Amount: <input type="text" readonly placeholder="Amount" name="amount" id="findcouponamount"/>
					<br/>
					<br/>
					Type: <input type="text" readonly placeholder="Type" name="type" id="findcoupontype"> 
					<br/>
					<br/>
					Message:
					<br/>
					<textarea cols="30" rows="5" id="findcouponmessage" readonly> </textarea>
					<br/>
					<br/>
					Price: <input type="text" readonly placeholder="Price" name="price" id="findcouponprice"/>
					<!-- <br/>
					<br/>
					Image : <input type="file" readonly name="image" size="45" id="findcouponimage"/>  -->
					<br/>
					<br/>
					<br/>
					<input value="Find coupon" type="button" onclick="FindCoupon1()"/>
					<input value="Delete coupon" type="button" onclick="DeleteCoupon1()"/>
					<button type="reset" value="Reset">Reset</button>
					<br/>
					<br/>
					<div id="findcouponmessagebox"> <textarea> </textarea></div>
				</div>
			</form>		
</article>

<article ng-show="showMeGetAllCoupons">
		<h1>Get All Coupons</h1>
			<form action="getallcoupons">
				<div name= "getallcoupons">
					Please enter Company ID: <input type="number" placeholder="Company ID"  name="companyid" id="getallcouponscompanyid"/>
					<br/>
					<br/> 
					Please select Type of coupon: <select name="Type" id="getallcouponstype"> 
					<option></option>
					<option value="RESTURANT"> RESTURANT </option> 
					<option value="ELECTRICITY"> ELECTRICITY </option>
					<option value="FOOD"> FOOD </option> 
					<option value="HEALTH"> HEALTH </option> 
					<option value="SPORTS"> SPORTS </option> 
					<option value="CAMPING"> CAMPING </option> 
					<option value="TRAVELLING"> TRAVELLING </option> 
					</select>
					<br/>
					<br/>
					<input value="Click here to get coupons" type="button" onclick="GetAllCoupons1()"/>
					<br/>
					<br/>
					<div id="getallcouponsmessagebox"> <textarea> </textarea></div>
					<br/>
					<div id=getallcouponstable> </div>				
				</div>
			</form>		
</article>
</body>
</html>